[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
black = "*"
flake8 = "*"
psycopg2 = "*"
python-dotenv = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
django-countries = "*"
django-money = "*"
six = "*"
djangorestframework-simplejwt = "*"
mypy = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
djangorestframework-stubs = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
